* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #626365;
}


body {
    min-height: 100%;
    width: 100%;
}

main {
    background:
    -494px -660px / 100% no-repeat url('./images/bg-pattern-top.svg'),
    347px 444px / 100% no-repeat url('./images/bg-pattern-bottom.svg');
    background-color: #19A1AD;
    max-width: 1080px;
    height: 720px;
    min-height: 200px;
    margin: 50px auto;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.bolder {
    font-weight: 800;
    color: #333;
}

#card {
    border-radius: 15px;
    background-color: white;
    min-width: 320px;
    min-height: 325px;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

#profile-background img {
    max-height: 130px;
}

small {
    font-size: 12px;
    letter-spacing: 1px;
}

#victor {
    width: 100px;
    border-radius: 50%;
    border: 6px solid white;
    align-self: center;
    justify-content: center;
    margin: -54px auto;
    z-index: 2;
}

#bio {
    border-bottom: 1px solid #ccc;
    padding: 65px 60px 0px 60px;
    text-align: center;
}

#bio span {
    margin-right: 2px;
}

#country {
    font-size: 14px;
    padding: 10px 0px 20px 0px;
}

#social {
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
    text-align: center;
}

#social div {
    flex-basis: 33.33%;
}

@media (max-width:800px) {

    body {
        overflow: hidden;
    }

    main {
        max-width: none;
        width: 100%;
        height: 100vh;
        background: 
        -239px -164px / 100% no-repeat url('./images/bg-pattern-top.svg'),
        216px 390px / 100% no-repeat url('./images/bg-pattern-bottom.svg');
        background-color: #19A1AD;
        margin: 0px;
    }

    #card {
        max-width: none;
        min-height: none;
        top: 241px;
        left: 64px;
    }

}